@use '@primeng/themes/aura/theme' as *;
@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
